<html ng-app = "myApp">

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--LOAD ANGULAR AND UI ROUTER-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>

    <!--ALL CONTROLLERS AND SERVICES-->
    <script src="../static/app.js"></script>
    <!--<script src="../static/mainCtrl.js"></script>-->
    <script src = "../static/homeCtrl.js"></script>

</head>

    <body>
         <div ui-view></div>

    </body>

</html>